{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "semi": false,
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "tailwindAttributes": ["class:list"]
}
